@import './colors';

$padding_v: 1rem;
$padding_h: 2rem;

.nav {
    // border: 1px solid red;
    height: auto;
    background: $persian-green;
    // position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.nav__list {
    padding-left: 0;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
}
.nav__item {
    list-style-type: none;
    display: inline-block;
    padding: $padding_v $padding_h;
}
.nav__item:hover {
}
.nav__link {
    padding: $padding_v $padding_h;
    // border: 1px solid green;
    color: $snow;
    transition: .3s all;
    font-weight: 800;
    text-decoration: none;
}
.nav__link:hover {
    // background-color: yellow;
    color: $eerie-black;
    transition: .3s all;
    transform: translateY(10);
    cursor: pointer;
}

@media screen and (max-width: 920px) {
    .nav__list {
        flex-flow: column;
        flex-wrap: wrap;
        
        align-items: center;
    }
}