@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
@import './colors';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: $eerie-black;
  background-color: $snow;
  font-size: 18px;
}
a{
  color: $persian-green;
}